Post::create([
    'title'     => 'Judul Postingan Pertama',
    'slug'      => 'judul-postingan-pertama',
    'excerpt'   => '<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ullam repudiandae voluptates dolores, inventore expedita nostrum aut doloremque repellendus libero.</p>',
    'content'   => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit architecto cumque ullam consectetur id possimus reiciendis obcaecati qui ducimus ipsum, hic magni. Doloribus, tempora maxime eos tempore ad minus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione eveniet sint illum adipisci. Voluptas excepturi nesciunt praesentium aspernatur ab at?</p>'
]);
